@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --hahan-background: 255 255 255;
  --hahan-foreground: 13 3 10;
  --hahan-background-secondary: 13 3 10;
  --hahan-foreground-secondary: 255 255 255;
  --hahan-card: 255 255 255;
  --hahan-card-foreground: 13 3 10;
  --hahan-popover: 255 255 255;
  --hahan-popover-foreground: 13 3 10;
  --hahan-primary: 38 101 255;
  --hahan-primary-foreground: 240 244 255;
  --hahan-secondary: 245 247 252;
  --hahan-secondary-foreground: 46 48 57;
  --hahan-muted: 245 247 252;
  --hahan-muted-foreground: 132 137 148;
  --hahan-accent: 245 247 252;
  --hahan-accent-foreground: 46 48 57;
  --hahan-error: 255 38 46;
  --hahan-error-foreground: 240 244 255;
  --hahan-border: 228 233 242;
  --hahan-input: 228 233 242;
  --hahan-ring: 38 101 255;
  --hahan-radius: 0.5rem;
  --hahan-chart-1: 255 83 61;
  --hahan-chart-2: 68 166 102;
  --hahan-chart-3: 61 95 126;
  --hahan-chart-4: 177 255 110;
  --hahan-chart-5: 255 71 34;
}



@keyframes slide {
	from {
		left: -200%;
	}

	to {
		left: 200%;
	}
}
