@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --color-primary: 30 167 253;
    --color-primary-foreground: 226 232 240;
    --color-secondary: 226 232 240;
    --color-secondary-foreground: 30 167 253;
}